// Dark theme settings
html[data-theme="dark"] #app {
  --border-color: #0e5c49;
  .vp-sidebar {
    scrollbar-color: #274b41 #333;
  }
  .vp-footer img.logo {
    content: url("/footer-logo-white.webp");
  }
}

// Light theme settings
html[data-theme="light"] #app {
  --border-color: #55877a;

  .vp-sidebar {
    scrollbar-color: #a9d4c9 #e4e6e5;
  }
  .vp-footer img.logo {
    content: url("/footer-logo.webp");
  }
}

// make bash code blocks have $ prefix
div.language-bash pre {
  padding-left: 0.8rem;
  code:before {
    content: "$ ";
    font-weight: bold;
    margin-left: -1rem;
  }
}
div.language-output {
  button.vp-copy-code-button {
    display: none;
  }
}

// remove table borders
table.no-boarder {
  td,
  th,
  tr {
    padding: 0.5em;
    border: none !important;
    background: none !important;
  }
}
// remove table header
table.no-head {
  thead {
    display: none !important;
  }
}

// remove extra list margins
ul li p {
  margin: 0px;
}

// don't hyphenate word breaks
p {
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}

// Increase H tag headers font weight
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  a {
    font-weight: 800;
  }
}

// Header
// full width search
.vp-navbar-center {
  div {
    width: 100%;
    button.DocSearch {
      width: 100%;
    }
  }
}
// Footer
.vp-footer img.logo {
  padding-right: 25px;
}

// === Improve sidebar visual hierarchy ===
// size only first level headers
.vp-sidebar-group:not(.vp-sidebar-group .vp-sidebar-group) {
  margin-left: 1rem;
  & > .vp-sidebar-header {
    border-bottom: solid thin var(--border-color);
    border-radius: 0;
    .vp-sidebar-title {
      font-size: 1.3em;
      font-weight: 600;
    }
  }
}

// TODO: This is a hack to be removed along with the corresponding sidebar elements
// when the bug (https://github.com/vuepress-theme-hope/vuepress-theme-hope/issues/4286) is fixed
.vp-sidebar-header:has([aria-label^="-hidden-"]) {
  display: none !important;
}

::-webkit-scrollbar-thumb {
  background: var(--code-highlight-bg-color);
}

.vp-sidebar {
  .vp-sidebar-links {
    margin-left: 0rem;
    .vp-sidebar-group > .vp-sidebar-header {
      padding: 0.25rem 0rem;
      margin-left: 0rem;
      font-weight: 600;
    }
    .vp-sidebar-title {
      font-weight: 500;
    }
    .vp-sidebar-links {
      .vp-sidebar-link {
        padding-right: 0rem !important;
        margin-left: 0rem;
      }
      .vp-sidebar-links {
        .vp-sidebar-group {
          padding: 0.25rem 0.5rem;
        }
        .vp-sidebar-link {
          padding: 0.25rem 0.5rem;
        }
      }
    }
  }
}

// Zilla plus icon indicator
.vp-sidebar-link,
.vp-sidebar-header {
  display: flex !important;
  flex-direction: row;
  span.icon {
    order: 2;
    margin-left: auto;
  }
}

// Zilla plus container styles
.zilla-plus-badge.hint-container.info {
  border-color: #0e5c49;
  background: var(--theme-color);
  padding: 0;
  a {
    background-color: var(--theme-color);
    cursor: pointer;
    text-decoration: none !important;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    padding: 0.5em;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    sup {
      span.icon {
        color: white;
      }
    }
  }
  .external-link-icon {
    display: none;
  }
}

// set supper plus icons to the theme color
sup {
  span.icon {
    color: var(--theme-color);
  }
}

// === ICONS ===
.aky-zilla-plus {
  &::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 94 94"><defs><style>.cls-1{fill:url(%23linear-gradient);}</style><linearGradient id="linear-gradient" x1="0.5" y1="47.5" x2="94.5" y2="47.5" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%235a7cd9"/><stop offset="0.28" stop-color="%234799c9"/><stop offset="0.76" stop-color="%2329c4b0"/><stop offset="1" stop-color="%231ed5a7"/></linearGradient></defs><title>zilla-plus-icon</title><g id="Rounded_Plus" data-name="Rounded Plus"><path class="cls-1" d="M94.5,35.83V59.17a4.23,4.23,0,0,1-4.23,4.23H63.4V90.27a4.23,4.23,0,0,1-4.23,4.23H35.83a4.23,4.23,0,0,1-4.23-4.23V63.4H4.73A4.23,4.23,0,0,1,.5,59.17V35.83A4.23,4.23,0,0,1,4.73,31.6H31.6V4.73A4.23,4.23,0,0,1,35.83.5H59.17A4.23,4.23,0,0,1,63.4,4.73V31.6H90.27A4.23,4.23,0,0,1,94.5,35.83Z" transform="translate(-0.5 -0.5)"/></g></svg>');
    display: inline-block;
    height: 0.8em;
    width: 0.8em;
  }
}

.overview_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 0.75rem;
}

.overview_cards .vp-card {
  flex: 0 1 calc((100% - 8rem) / 2); /* Adjust the divisor for number of cards per row */
  display: flex !important;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  background: none !important;
  box-shadow: none !important;

  border-radius: 1rem;
  border-style: solid;
  border-width: 2px;

  transition: all;
  transition-duration: 200ms;

  margin: 0 !important;
}

[data-theme="light"] .overview_cards .vp-card {
  border-color: #38b7a7 !important;
}

[data-theme="dark"] .overview_cards .vp-card {
  border-color: #1b343f !important;
}

[data-theme="light"] .overview_cards .vp-card:hover {
  border-color: #1b343f !important;
}

[data-theme="dark"] .overview_cards .vp-card:hover {
  border-color: #38b7a7 !important;
}

@media (max-width: 480px) {
  .overview_cards .vp-card {
    flex: 0 1 100%; /* Single column on mobile */
  }
}

.overview_cards .vp-card-logo {
  height: 1.5rem;
  width: auto;
  border-radius: 0% !important;
}

.overview_cards .vp-card hr {
  display: none !important;
}
